/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /*Degrade*/
    background: linear-gradient();
}

.body-div{
    display: flex;
    align-items: center;
    justify-content: center;
}

#image{
    width: 40%;
    height: 80vh;
    border-radius: 20px;
    box-shadow: 2px 2px aliceblue;
}